/* GLOBAL STYLES
-------------------------------------------------- */
body {
   margin: 20px;
   padding: 0;
   font-size: 18px;
   font-family: 'Google Sans',Roboto,Arial,sans-serif;
   /* background: linear-gradient(0deg, #d9cfe0, #e7e1ee, #f9f8fa); */
}

h4 {
   font-size: 2.75em;
   letter-spacing: 2px;
   font-weight: bold;
   color:rgb(65, 60, 71) !important
}

h2 {
   font-size: 2.3em;
}

h3 {
   font-size: 1.5em;
}



/* Specific Feature
------------------------- */
/* .card-header {
   display: flex;
   flex-direction: column;
} */

.bold {
   font-weight: bold;
}

.homepage-header {
   padding-top: 2em;
   padding-bottom: 1em;
}

.fa-flag-header {
   color: rosybrown !important;
}

.fa-flag-red {
   color: red !important;
}

.fa-flag-green {
   color: #4caf50 !important;
}

.border-red {
   border: 5px solid red !important;
}

.border-green {
   border: 5px solid #4caf50 !important;
}

.nav-font {
   font-size: 0;
}

.btn-secondary:focus, .btn-secondary:hover:not(:disabled) {
   background-color: #17a2b8;
}

.login-bg-color {
   background-color: none;
}

.login-button-margin {
   justify-content: center;
   align-items: center;
   margin-bottom: 1rem;
}

.margin-auto {
   margin: auto;
}

.margin-top-5 {
   margin-top: 5rem;
}

.margin-bottom-1 {
   margin-bottom: 1rem;
}

.margin-bottom-half {
   margin-bottom: 0.5rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.icon-size {
   font-size: 2em;
}

.left-padding {
   padding-left: 0.5em;
}

.clear {
  clear: both;
  content: "";
}

.game {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  background: rosybrown;
}

.game .cell {
   background: #FCFAF9;
   border: 1px solid rosybrown;
   border-radius: 4px;
   float: left;
   line-height: 45px;
   height: 45px;
   text-align: center;
   width: 45px;
   cursor: pointer;
   color: #333333;
   font-weight: 600;
}

.game :focus {
   outline: none;
}

.game .hidden {
   background: #333333;
}

.game .is-flag, .game .is-mine {
   color: #fc543c;
}

/** onboarding **/
.slides-bg {
   position:relative;
   height: 80vh;
}

.slides-controls {
   position: absolute;
   box-sizing: content-box;
   background-color: #000000;
   margin-top: 0.5em;
   bottom: -2em;
   left: -2em;
   right: -2em;
   width: 100%;
   padding:1em 2em;
   display: flex;
   justify-content: space-between;
}

.slide-inactive {
   display: none;
}
 
.slide-active {
   display: inline-block;
   width:100%;
   height:100%;
   overflow-y: hidden;
}

.control-btn {
   background:transparent;
   border: none;
   color: white;
}

.control-btn:hover {
   text-decoration: underline;
}
 
.indicator {
   box-sizing: border-box;
   width: 20px;
   height: 20px;
   background:transparent;
   border:none;
   padding:0;
   margin:0;
}
 
.circle {
   width: 10px;
   height: 10px;
   border-radius: 5px;
   transform: translate(50%);
}
 
.indicator-inactive {
   background-color:#CCCCCC;
}
 
.indicator-active {
   background-color: #8cd0f0;
}

.fit {
   max-height:65vh;
   max-width: 80vh;
   margin-left: auto;
   margin-right:auto;
}

.notification-list {
   column-count: 1;
}

.text-centered {
   text-align: center;
}

.system-notification-frame {
   border:#212529 solid 1.75px;
   padding: 1em;
   height: 60vh;
   overflow: auto;
}

.online-player-frame {
   border:#212529 solid 1.75px;
   padding: 1em;
   height: 60vh;
   overflow: auto;
}

.account-width {
   width: 16rem;
}

@media screen and (max-width: 768px) {
   .system-notification-frame {
      max-height: 50vh;
      margin-bottom: 2rem;
   }

   .online-player-frame {
      max-height: 50vh;
   }
}

.player-border {
   border: #5d6e5d solid 3px;
}

.link-style {
   border: none;
   background: none;
   font-size: 1.3rem;
}

.self-border {
   border: 2px solid green;
}

.pair-border {
   border: 2px solid red;
}

h1 {
   font-size: 1.4rem;
}

.game-font-size {
   font-size: 1.4rem;
}

.input-size {
   border-radius: 0.5rem;
   font-size: 0.9rem;
}

.link-style {
   font-size: 0.7rem;
}

.game-width {
   margin: auto;
   width: 40rem;
}

.game-body {
   padding: 0;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

@media (max-width: 1100px) {
   .game-width {
      width: 35rem;
   }
}

@media (max-width: 900px) {
   .game-width {
      width: 30rem;
   }
}

@media (max-width: 800px) {
   .game-width {
      width: 25rem;
   }
}

@media (max-width: 600px) {
   .game-width {
      width: 22rem;
   }
}

.border-color-secondary {
   border: #6c757d solid 1px
}