/* GLOBAL STYLES
-------------------------------------------------- */
body {
   padding-top: 3rem;
   padding-bottom: 3rem;
   color: #5a5a5a;
}

/* Specific Feature
------------------------- */
.card-header {
   display: flex;
   flex-direction: column;
}

.nav-font {
   font-size: 1.5rem;
}

.btn-secondary:focus, .btn-secondary:hover:not(:disabled) {
   background-color: #17a2b8;
}

.login-font-size {
   font-size: 1.8rem;
}

.login-bg-color {
   background-color: #0b9bb2;
}

.login-button-margin {
   justify-content: center;
   align-items: center;
}

.margin-auto {
   margin: auto;
}

.margin-top-5 {
   margin-top: 5rem;
}
